body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
  margin: 5px 0;
}

h3 {
  font-size: 15px;
  margin: 0;
}

p {
  font-size: 12px;
  margin: 0;
  line-break: anywhere;
}

div {
  box-sizing: border-box;
}